body {
  margin: 0%;
  height: 100vh;
  width: 100vw;
  /* background-color: #a7beae; */
  color: #b85042;
  font-family: "Montserrat", sans-serif;

  background-color: #e7e8d1;
}
.gridContainer {
  height: 100vh;
  display: grid;
  grid-template-columns: 1.5fr 4fr 1.5fr;
  grid-template-rows: 1fr;
  gap: 10px;
  grid-template-areas: "cv hello portfolio";
  max-width: 756px;
  margin: 0 auto;
  /* overflow: scroll; */
}
@media only screen and (max-width: 756px) {
  .gridContainer {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 6.8fr;
    gap: 10px;
    grid-template-areas:
      "cv portfolio"
      "hello hello";
    max-width: 750px;
    margin: 0 auto;
    /* overflow: scroll; */
  }
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 4fr 4fr 4fr 2fr;
  grid-template-rows: 1fr;
  gap: 10px;
  grid-template-areas: ". codecamp schule self .";
}
@media only screen and (max-width: 756px) {
  .container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content;
    gap: 10px;
    grid-template-areas: "codecamp" "schule" "self";
    text-align: center;
  }
}
.arrow {
  margin-right: 5px;
  margin-left: 5px;
  display: none;
}
@media only screen and (max-width: 756px) {
  .arrow {
    display: inline-block;
    font-size: 25px;
    margin-top: 6px;
  }
}
.circle {
  display: inline-block;
}
@media only screen and (max-width: 756px) {
  .circle {
    display: none;
  }
}

.hello {
  grid-area: hello;
  display: flex;
}
.cv {
  grid-area: cv;
  display: flex;

  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
.portfolio {
  grid-area: portfolio;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
@media only screen and (max-width: 756px) {
  .portfolio {
    margin-top: 10px;
    flex-direction: row;
    text-decoration: underline;
    display: flex;
    justify-content: flex-end;
  }
  .cv {
    margin-top: 0px;
    flex-direction: row;
    text-decoration: underline;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
  }
}

.portfolio:hover {
  color: #80433b;
  cursor: pointer;
}
.portfolio:active {
  color: #80433b;
  cursor: pointer;
}
.cv:hover {
  color: #80433b;
  cursor: pointer;
}
.cv:active {
  color: #80433b;
  cursor: pointer;
}

img {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
a img:hover {
  box-shadow: #86988b 0px 3px 8px;
}
a img:active {
  box-shadow: #86988b 0px 3px 8px;
}

a {
  height: 150px;
  width: auto;
}
a:link {
  text-decoration: none;
  text-decoration: underline;
  color: #b85042;
}
a:visited {
  text-decoration: none;
  color: #b85042;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
  color: #80433b;
}
a:active {
  text-decoration: none;
  color: #80433b;
}

.codecamp {
  grid-area: codecamp;
  max-height: 300px;
}
.schule {
  grid-area: schule;
  max-height: 300px;
}
.self {
  grid-area: self;
  max-height: 300px;
}

.icons {
  grid-area: icons;
  font-size: 30px;
}

.border {
  border-left: 2px solid #b85042;
  min-height: 350px;
  /* display: inline-block;
  text-align: left; */
}
.test {
  margin-left: 20px;
}
@media only screen and (max-width: 756px) {
  .border {
    border-left: none;
    display: inline-block;
    text-align: left;
    min-height: 0px;
    width: 50%;
  }
  .codecamp {
    /* max-height: 400px; */
    display: block;
    margin-bottom: 20px;
    box-sizing: unset;
  }
  .schule {
    max-height: 500px;
    margin-bottom: 20px;
    display: block;
  }

  .self {
    max-height: 500px;
    display: block;
    margin-bottom: 20px;
  }
  .test {
    margin-left: 0px;
  }
}

h4 {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 10px;
}

.br {
  display: none;
}
@media only screen and (max-width: 756px) {
  .br {
    display: inline-block;
  }
}
